name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  sonar:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      - name: SonarCloud Scan
        run: |
          mvn -B verify sonar:sonar -DskipTests=true \
            -Dsonar.projectKey=fer8955_baseSelenium \
            -Dsonar.organization=fer8955 \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}


  selenium-tests:
    runs-on: ubuntu-latest
    needs: [ ]

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      - name: Run selenium tests
        run: mvn -B test
